.notification {
    display: flex;
    align-items: center;

    position: absolute;
    padding: 17px;
    border: 2px solid #000;
    border-radius: 17px;
    background-color: #fff;
    box-shadow: 6px 6px 0 0 #000;

    img {
        margin-right: 10px;
    }

    .colortLvlUp {
        color: $jaune;
    }

    .colortGraine {
        color: $vert;
    }
}

.notLevel {
    top: 43px;
    right: 300px;
}

.notBadge {
    top: 193px;
    right: 300px;
}