.scanne {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    height: 160vh;

    .imgBackgroundScan {
        width: 60%;
        margin: auto;
        transition: all 1s;
    }

    .imgMainScan {
        position: absolute !important;
        bottom: -50vh !important;
        width: 100%;
        z-index: 2;

    }

    .ScaleImgBackgroundScan {
        position: sticky !important;
        top: 20vh !important;
        margin: 0 auto;
        z-index: -1;
    }

    .pin-spacer {
        transition: all 1s;
    }

    .ScrolledImgMainScan {
        position: sticky !important;
        transition: all 1s;
        top: 0 !important;
        z-index: 5;
    }

    .imgMainScan2 {
        display: none;
    }
    .png{
        img{
            width: 100%;
        }
    }
 
}
// #lottie_scann{
//     #animation-container{
//         #animation{
//             svg{
//                 transform: scale(1.6);
//             }
//         }
//     }
// }
@media only screen and (max-width: 1400px) {
    .scanne {
        margin-top: 60vh;
    }
}

@media only screen and (max-width: 1150px) {
    .scanne {
        .imgMainScan {
            bottom: -10vh !important;
        }
    }
}

@media only screen and (max-width: 938px) {
    .scanne {
        .imgMainScan {
            bottom: 10vh !important;
        }
    }
}
